* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: lightgray;
    flex-direction: column;
}

#task-area {
    display: flex;
}

.task_container {
    background-color: white;
    margin: 20px;
    height: 100%;
}


